*~
*.o
*.lo
*.la
.deps
.libs
.*.sw[op]
stamp-*
*~

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/introspection.m4
missing
mkinstalldirs
gnome-doc-utils.make

data/js/iwk.js

src/iwkmail
src/im-enum-types.[ch]

po/POTFILES
po/Makefile.in.in
po/*.gmo
po/iwkmail.pot
